.nav-link {
  font-weight: 600;
}

.playListEntry.hidden-vid {
  display: none;
}

.playListEntry {
  word-wrap:break-word;
  -ms-word-wrap:break-word;
  overflow-wrap:break-word;
  margin-bottom: 16px;
}

.playlistTitle {
  margin: 16px 0 12px;
  font-size: 12px;
  font-weight: 700;
}

.playlistDesc {
  margin: 3px 0 6px;
  color: #777777;
  font-size: 12px;
  line-height: 18px;
}

.player-container {
  margin: 36px 0;
  background-color: #fff;
  max-height: 588px;
}

#player-load-more {
  margin: 20px 0;
  border-color: #dae0e6;
  border-radius: 0;
}

#youtube-playList-img img:hover {
  cursor: pointer;
  opacity: 0.6;
}

.spinner-img {
  padding-top: 25%;
}

.spinner, .spinner-img {
  width: 70px;
  text-align: center;
}

.spinner > div,
.spinner-img > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1,
.spinner-img .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2,
.spinner-img .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@media (min-width: 1200px) {
   #youtube-playList-img {
      width: 3000px;
    }
}

@media (max-width: 768px) {
    .h1, h1 {
      font-size: 2rem;
    }
    .jumbotron {
      background-color: #fff;
      padding-top: 0.6rem;
    }
    .img-playlist {
      border: 1px solid #eee;
    }
}